// Node: Page
// -----------------------------------------------------------------------------
.page--cupcake {
  h1 {
    @media (min-width: $screen-lg-min) {
      display: none;
    }
  }
    .group-left {
    float: none;
    width: 100%;
    @media (min-width: $screen-lg-min) {
      float: left;
      width: 50%;
    }
    img {
      width: 100%;
      height: auto;
      @media (min-width: $screen-lg-min) {
        width: auto;
      }
    }
  }
  .group-right {
    float: none;
    width: 100%;
    margin-bottom: 40px;
    @media (min-width: $screen-lg-min) {
      float: left;
      width: 50%;
    }
    h2 {
      display: none;
      @media (min-width: $screen-lg-min) {
        display: block;
        font-size: 2.5em;
        color: #633B1E;
        font-weight: 700;
        text-align: left;
        margin-top: -10px;
      }
    }
    .cupcake__field-price- {
      margin-top: 10px;
      @media (min-width: $screen-lg-min) {
        text-align: left;
        margin-bottom: 30px;
      }
    }
  }
  .form-submit {
    background: #F185CF;
    border: none;
    line-height: 38px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    margin: 0 auto;
    border-radius: 0;
    color: #fff;
  }
}


.view--taxonomy-term {
  .view__row {
    margin-bottom: 30px;
    background-color: #fff;
    padding: 10px;
    @media (min-width: $screen-lg-min) {
      width: 25%;
      float: left;
      padding-right: 20px;
    }
  }
}

.node--type-cupcake {
  .cupcake__field-price- {
    text-align: center;
    color: #000;
    font-weight: bold;
    font-size: 2em;
  }
  .cupcake__field-cupcake {
    display: none;
  }
  .cupcake__node-link {
    background: #F185CF;
    width: 60%;
    border: none;
    line-height: 38px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    margin: 0 auto;
    a {
      display: block;
      color: #fff;
    }
  }
}

.path--reports {
  p {
    font-size: 1.5em;
  }
  .block__title {
    display:  none;
  }
  .reports-section p {
    background: #6FBEF1;
    width: 100%;
    border: none;
    line-height: 60px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 40px;
    @media (min-width: $screen-lg-min) {
      width: 50%;
    }
      a {
      display: block;
      color: #fff;
    }
  }
}

