{#
/**
 * @file
 * Default for cupcakes billing
 *
 * Available variables:
 * - report
 * - ranking
 * - monthly
 *
 */
#}
<p>Hello, Administrator! This is the reports section</p>
<div class="reports-section">
  <p><a href="reports-by-client" target="_blank">{{ report }}</a></p>
  <p><a href="ranking" target="_blank">{{ ranking }}</a></p>
  <p><a href="monthly-sales" target="_blank">{{ monthly }}</a></p>
</div>


