{#
/**
 * @file
 * Default for cupcakes billing
 *
 * Available variables:
 * - mama
 * - papa
 *
 */
#}
<div class="post-date">
  <span class="date-month">{{ mama }}</span> <span class="date-day">{{ papa }}</span>
</div>


