// Page Layout
// -----------------------------------------------------------------------------
body {
  background-color: #FDEFF9;
}
h1, h4 {
  font-size: 2.5em;
  color: #633B1E;
  margin: 0 0 15px 0;
  font-weight: 700;
  text-align: center;
}
h2 {
  color: #633B1E;
  font-size: 1.2em;
  text-align: center;
  font-weight: bold;
}
footer {
  margin-top: 0;
  padding-top: 30px;
  background: #442916 url("../images/footer-bkg.jpg") top center repeat-x;
  border-top: 0 solid #eeeeee;
  color: #e2e2e2;
  span {
    text-align: center;
    display: block;
  }
}
